
.container-fluid
{
   margin-left: 20px;
}
.btn-success{
    float: right;
}
.menu
{
    margin-bottom: 10px;
    color: #999;
}
.menu .icon{
    cursor: pointer;
}
.menu .active{
    color: #499ef3;
}
.menu .icon:hover{
    color: #499ef3;
}