<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>community</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <link rel="stylesheet" href="/css/editormd.preview.min.css">

    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <script src="/js/moment.js" type="application/javascript"></script>
    <script src="/js/editormd.min.js" type="application/javascript"></script>
    <script src="/js/lib/marked.min.js" type="application/javascript"></script>
    <script src="/js/lib/prettify.min.js" type="application/javascript"></script>




</head>
<body>
<div th:insert="~{footer :: head}"></div>
<div class="container-fluid" >
    <div class="main col-lg-9 col-md-12 col-sm-12 col-xs-12">
        <h3 th:text="${questionDto.getTitle()}"></h3>
        作者：<span th:text="${questionDto.user.name}"></span>
        | 浏览数：<span th:text="${questionDto.watchCount}"></span>
        | 评论数：<span th:text="${questionDto.readCount}"></span>
        | 发布时间：<span th:text="${#dates.format(questionDto.gmtCreate,'yyyy-MM-dd')}"></span>
        <hr>
        <!--内容-->
        <div id="question-markdown-view">
            <!-- Server-side output Markdown text -->
            <textarea style="display:none;" th:text="${questionDto.getContent()}"></textarea>
        </div>
        <span ></span>

        <!-- 将 markdown 的内容转化为 html -->
        <script type="text/javascript">
            $(function() {
                var testView = editormd.markdownToHTML("question-markdown-view", {
                });
            });
        </script>

        <hr>
        <span style="margin-right: 5px" class="label label-info" th:each="tag:${questionDto.tag.split(',')}" th:text="${tag}"></span>
        <hr>
        <!--编辑-->
        <a th:href="@{'/publish/'+${questionDto.id}}" th:if="${session.user!=null&&questionDto.user.id==session.user.id}"><span class="glyphicon glyphicon-pencil" aria-hidden="true" style="font-size: 13px">编辑</span></a>
        <hr>
        <h4><span th:text="${questionDto.readCount}"></span>个回复</h4>
        <hr>
        <!-- 显示评论       -->
        <div>
            <div th:each="commentDto :${commentDtoList}">
                <div class="media">
                    <div class="media-left">
                        <img style="width: 45px;height: 45px;" class="img-rounded" th:src="${commentDto.user.avatarUrl}" th:alt="${commentDto.user.name}">
                    </div>
                    <div class="media-body">
                        <p th:text="${commentDto.user.name}" style="font-size: 5px"></p>
                        <p style="font-size: 14px" th:text="${commentDto.content}"></p>
                        <div class="menu">
                            <span class="glyphicon glyphicon-thumbs-up icon" style="margin-right: 10px"></span>
                            <span class="glyphicon glyphicon-comment icon" th:data="${commentDto.id}" onclick="collapse(this)"></span>
                            <span th:text="${commentDto.readCount}"></span>
                            <span class="pull-right" th:text="${#dates.format(commentDto.gmtCreate,'yyyy-MM-dd')}"></span>
                        </div>
                        <!-- 二级评论 -->
                        <div>
                            <div class="collapse" th:id="cop+${commentDto.id}">
                            <!-- 二级评论-->
                                <div th:id="comment+${commentDto.id}"></div>
                                <!--
                                <div th:each="commentDto :${commentDtoList}">
                                    <div class="media">
                                        <div class="media-left">
                                            <img style="width: 45px;height: 45px;" class="img-rounded" th:src="${commentDto.user.avatarUrl}" th:alt="${commentDto.user.name}">
                                        </div>
                                        <div class="media-body">
                                            <p style="font-size: 5px">
                                                <span th:text="${commentDto.user.name}" ></span> |
                                                <span th:text="${#dates.format(commentDto.gmtCreate,'yyyy-MM-dd')}"></span>
                                            </p>
                                            <p style="font-size: 14px" th:text="${commentDto.content}"></p>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                                -->
                                <!-- 二级评论的评论框 -->
                                <input type="text" class="form-control" id="content2" placeholder="评论一下。。。" th:id="comment2+${commentDto.id}">
                                <button type="button" class="btn btn-success pull-right" style="margin-top: 5px" th:data="${commentDto.id}" onclick="comment2(this)">评论</button>
                            <!--二级评论完-->
                            </div>
                        </div>

                    </div>
                </div>
                <hr>
            </div>
        </div>
        <!-- 提交评论       -->
        <div style="margin: 20px 0" id="commentClass">
            <div class="media">
                <div class="media-left media-middle">
                    <img style="width: 50px;height: 50px;" class="img-rounded" th:src="${session.user!=null?session.user.avatarUrl:'/images/no.png'}" >
                    <span th:text="${session.user!=null?session.user.name:'匿名用户'}"></span>
                </div>
            </div>
            <input type="hidden" th:value="${questionDto.id}" id="parent_id">
            <div style="margin: 10px 0">
                <textarea class="form-control" rows="8" id="comment" name="comment"></textarea>
            </div>
            <button type="button" class="btn btn-success" onclick="post()">回复</button>
        </div>
    </div>
    <div class="list-group col-lg-3 col-sm-12 col-md-12 col-xs-12">
        <div><h4 >发起人</h4></div>
        <div class="media">
            <div class="media-left media-middle">
                <img style="width: 50px;height: 50px;" class="img-rounded" th:src="${questionDto.user.avatarUrl}" th:alt="${questionDto.user.name}">
                <a href="#">
                    <span th:text="${questionDto.user.name}"></span>
                </a>
            </div>
        </div>
        <hr>
        <div>
            <h4 >相关问题</h4>
            <hr>
            <ul class="questionT">
                <li th:each="questionT:${questionTag}">
                    <a th:href="@{'/question/'+${questionT.id}}"><span th:text="${questionT.title}"></span></a>
                </li>
            </ul>
        </div>

    </div>
</div>
</body>
</html>